{% extends "main.html" %}
{% load static %}
{% block title %}Investments{% endblock %}
{% block content %}
  <header>
    <h1>Investments</h1>
  </header>
  <section id="table_list">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Delete</th>
          <th>Company</th>
          <th>Description</th>
          <th>Value</th>
          <th>Invested</th>
          <th>Document</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="6">
            <button hx-get="form"
              hx-trigger="click"
              hx-target="#investment-list"
              hx-swap="beforeend"
              type="submit">
              Add
            </button>
          </td>
        </tr>
      </tfoot>
      <tbody id="investment-list">
        {% for investment in investment_list %}
          <tr id="investment-item-{{ investment.pk }}">
            <td>
              <form
                hx-target="#investment-item-{{ investment.pk }}"
                hx-get="{{ investment.pk }}/delete"
                hx-confirm="Are you sure?"
                hx-swap="outerHTML"
              >
                <button hx-trigger="click" type="submit">
                  &#x274C;
                </button>
              </form>
            </td>
            <td><label for="{{ investment.pk }}"><a href="{{ investment.pk }}">{{ investment.organisation.name }}</a></label></td>
            <td>{{ investment.description }}</td>
            <td>£{{ investment.current_value }}</td>
            <td>{{ investment.date_purchased }}</td>
            <td>{% if investment.document %}<a href="{{ investment.document.url }}">DOWNLOAD</a>{% else %}{% endif %}</td>
          </tr>
        {% endfor %}
        {% if investment_list|length < 1 %}
          <tr>
            <td colspan="6">No investments</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </section>
  <div id="dtBox"></div>
  <script>
    $(document).ready(function()
      {
        $("#dtBox").DateTimePicker();
      });
  </script>
{% endblock %}
