{% extends "main.html" %}
{% load static %}
{% block title %}Transactions{% endblock %}
{% block content %}
  <header>
    <h1>Transactions For {{ merchant_id }}</h1>
  </header>
  <section id="table_list">
    {% if user.is_authenticated %}
      <table class="table table-striped table-bordered">
        <caption>{{ merchant_id }} transactions</caption>
        <thead>
          <tr>
            <th>Value</th>
            <th>Merchant</th>
            <th>Merchant ID</th>
            <th>Description</th>
            <th>When</th>
          </tr>
        </thead>
        <tbody id="transaction-list">
          {% for transaction in transaction_list %}
            <tr id="investment-item-{{ transaction.pk }}">
              <td>{{ transaction.value }}</td>
              <td>{{ transaction.merchant.name }}</td>
              <td>
                <a href="/finance/monzo/transactions/{{ transaction.merchant.merchant_id }}/">
                  {{ transaction.merchant.merchant_id }}
                </a>
              </td>
              <td>{{ transaction.description }}</td>
              <td>{{ transaction.created }}</td>
            </tr>
          {% endfor %}
          {% if transaction_list|length < 1 %}
            <tr>
              <td colspan="5">No transactions</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    {% else %}
      <p>To view this page please <a href='/accounts/login/'>Login</a></p>
    {% endif %}
  </section>
{% endblock %}
