APScheduler
asgiref
attrs
beautifulsoup4
certifi
charset-normalizer
cloudflare
Django
django-apscheduler
django-cleanup
django-debug-toolbar
django-stubs
django-stubs-ext
idna
isort
jsonlines
mccabe
Monzo-API
mysqlclient
pycodestyle
pyflakes
python-dotenv
pytz
pytz-deprecation-shim
PyYAML
pyzabbix
requests
semantic-version
six
soupsieve
sqlparse
toml
tomli
types-pytz
types-PyYAML
types-requests
types-urllib3
typing_extensions
tzdata
tzlocal
urllib3
