beautifulsoup4
Django
djangorestframework
django_cleanup
django-debug-toolbar
django-filter
django-guardian
django-mathfilters
django-oauth-toolkit
Markdown
monzo-api
pillow
Pygments
pymysql
python-dateutil
python-dotenv
PyYAML
requests
Turing-Pi-BMC==0.5.0
uritemplate
wakeonlan
