{% extends "main.html" %}
{% load static %}
{% block title %}Network Topology{% endblock %}
{% block content %}
    <header>
        <h1>Network Topology</h1>
    </header>
    <main class="container-fluid">
        <aside class="col-12 col-md-2" id="graph-item-details">
            <h2>Details</h2>
            Name: N/A<br />
            Description: N/A<br />
        </aside>
        <div class="col-12 col-md-10" id="graph"></div>
    </main>
    <script src="//unpkg.com/three"></script>
    <script src="//unpkg.com/three-spritetext"></script>
    <script src="//unpkg.com/3d-force-graph"></script>
    <script src="{% static 'network_topology/js/graph.js' %}"></script>
{% endblock %}
