{% extends "main.html" %}
{% load static %}
{% block title %}Books{% endblock %}
{% block content %}
        <header>
            <h1>Books</h1>
        </header>
        <section id="table_list">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Authors</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in book_list %}
                        <tr>
                            <td><a href='/books/{{ book.id }}/'>{{ book.title }}</a></td>
                            <td><ul>{% for author in book.authors.all %}<li>{{ author.name }}</li>{% endfor %}</ul></td>
                            <td>{{ book.published|date:'Y' }}</td>
                        </tr>
                    {% endfor %}
                    {% if book_list|length < 1 %}
                        <tr>
                            <td colspan="3">No books</td>
                        </tr>
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}{{ search_term }}">&lt;</a>&nbsp;
                                <a href="?page={{ page_obj.previous_page_number }}{{ search_term }}">{{ page_obj.previous_page_number }}</a>&nbsp;
                            {% endif %}
                            {{ page_obj.number }}&nbsp;
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}{{ search_term }}">{{ page_obj.next_page_number }}</a>&nbsp;
                                <a href="?page={{ page_obj.next_page_number }}{{ search_term }}">&gt;</a>
                            {% endif %}
                        </td>
                        <td>
                            <form><label for="search">Name</label><input type="text" name="q" id="search" /><button>Search</button></form>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </section>
{% endblock %}