{% extends "main.html" %}
{% load static %}
{% block title %}Rack{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/networkv2/">Network</a></li>
    <li class="breadcrumb-item active" aria-current="page">Rack</li>
{% endblock %}
{% block content %}
        <header>
            <h1>Rack</h1>
        </header>
        <section id="rack">
        </section>
        <script type="text/javascript" src="{% static 'networkv2/js/rack.js' %}"></script>
{% endblock %}