{% extends "main.html" %}
{% load static %}
{% block title %}ToDo{% endblock %}
{% block breadcrumbs %}<a href="/">Home</a> > ToDo{% endblock %}
{% block content %}
        <header>
            <h1>ToDo</h1>
        </header>
        <section id="table_list">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todo_list %}
                        <tr>
                            <td><input type="checkbox" value="{{ todo.pk }}" name=""></td>
                            <td><label for="{{ todo.pk }}">{{ todo.description }} - {{ todo.added }}</label></td>
                        </tr>
                    {% endfor %}
                    {% if todo_list|length < 1 %}
                        <tr>
                            <td colspan="2">No todo items</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </section>
        <section id="todo_add">
        </section>
{% endblock %}