{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Intra Site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'finance/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Intra Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "finance:index" %}">Finances</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "network:index" %}">Network Topology</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "books:index" %}">Book Collection</a>
                </li>
            </ul>
        </div>
    </nav>