{% extends "main.html" %}
{% load static %}
{% block title %}Index{% endblock %}
{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="/">Home</a></li>
{% endblock %}
{% block content %}
  <div class="row">
    <div class="card-container col-6 col-lg-3">
      <div class="card">
        <div class="card-header">Finance</div>
        <div class="card-body">
          <a href="finance/"><img src="{% static 'img/finance.png' %}" class="card-img rounded" alt="Finance"></a>
        </div>
      </div>
    </div>
    <div class="card-container col-6 col-lg-3">
      <div class="card">
        <div class="card-header">Investments</div>
        <div class="card-body">
          <a href="finance/investments/"><img src="{% static 'img/investments.png' %}" class="card-img rounded" alt="Investments"></a>
        </div>
      </div>
    </div>
    <div class="card-container col-6 col-lg-3">
      <div class="card">
        <div class="card-header">Tasks</div>
        <div class="card-body">
          <a href="tasks/"><img src="{% static 'img/tasks.png' %}" class="card-img rounded" alt="Tasks"></a>
        </div>
      </div>
    </div>
    <div class="card-container col-6 col-lg-3">
      <div class="card">
        <div class="card-header">Events</div>
        <div class="card-body">
          <a href="events/"><img src="{% static 'img/events.png' %}" class="card-img rounded" alt="Events"></a>
        </div>
      </div>
    </div>
    <div class="card-container col-6 col-lg-3">
      <div class="card">
        <div class="card-header">Network</div>
        <div class="card-body">
          <a href="networkv2/"><img src="{% static 'img/network.png' %}" class="card-img rounded" alt="Network"></a>
        </div>
      </div>
    </div>
    <div class="card-container col-6 col-lg-3">
      <div class="card">
        <div class="card-header">Books</div>
        <div class="card-body">
          <a href="books/"><img src="{% static 'img/books.png' %}" class="card-img rounded" alt="Books"></a>
        </div>
      </div>
    </div>
    <div class="card-container col-6 col-lg-3">
      <div class="card">
        <div class="card-header">Documents</div>
        <div class="card-body">
          <a href="documents/"><img src="{% static 'img/documents.png' %}" class="card-img rounded" alt="Documents"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
