{% extends "main.html" %}
{% load static %}
{% block title %}Index{% endblock %}
{% block breadcrumbs %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-6 col-lg-3 widget">
            <a href="finance/">
                <img src="{% static 'img/finance.png' %}" alt="Finance" width="100" height="100" class="align-middle my-auto mx-auto d-block" />
            </a>
        </div>
        <div class="col-6 col-lg-3 widget">
            <a href="finance/investments">
                <img src="{% static 'img/investments.png' %}" alt="Investments" width="100" height="100" class="align-middle my-auto mx-auto d-block" />
            </a>
        </div>
        <div class="col-6 col-lg-3 widget">
            <a href="todo/">
                <img src="{% static 'img/todo.png' %}" alt="ToDo" width="100" height="100" class="align-middle my-auto mx-auto d-block" />
            </a>
        </div>
        <div class="col-6 col-lg-3 widget">
            <a href="events/">
                <img src="{% static 'img/events.png' %}" alt="Events" width="100" height="100" class="align-middle my-auto mx-auto d-block" />
            </a>
        </div>
        <div class="col-6 col-lg-3 widget">
            <a href="network/">
                <img src="{% static 'img/network.png' %}" alt="Network" width="100" height="100" class="align-middle my-auto mx-auto d-block" />
            </a>
        </div>
        <div class="col-6 col-lg-3 widget">
            <a href="books/">
                <img src="{% static 'img/books.png' %}" alt="Books" width="100" height="100" class="align-middle my-auto mx-auto d-block" />
            </a>
        </div>
        <div class="col-6 col-lg-3 widget">
            <a href="documents/">
                <img src="{% static 'img/documents.png' %}" alt="Documents" width="100" height="100" class="align-middle my-auto mx-auto d-block" />
            </a>
        </div>
    </div>
{% endblock %}
