{% load static %}
{% include "header.html" %}
    <header>
        <h1>Book Collection</h1>
    </header>
    <main class="container">
        <section id="book_list">
            <div class="row" id="row_header">
                <div class="title col-6">Title</div>
                <div class="authors col-6">Authors</div>
            </div>{% for book in book_list %}
            <div class="row">
                <div class="title col-6"><a href='/books/{{ book.id }}'>{{ book.title }}</a></div>
                <div class="authors col-6"><ul>{% for author in book.authors.all %}<li>{{ author.name }}</li>{% endfor %}</ul></div>
            </div>{% endfor %}
            <div class="row text-end">
                <div class="pagination col-6">
                    {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">Previous</a>{% else %}Previous{% endif %}&nbsp;
                    {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">Next</a>{% else %}Next{% endif %}
                </div>
                <div class="search col-6">
                    <form><input type="text" name="q" /><button>Search</button></form>
                </div>
            </div>
        </section>
    </main>
{% if page_obj.has_next %}{% endif %}
{% include "footer.html" %}
