                        <tr id="todo-item-{{ todo.pk }}">
                            <td>
                                <form
                                        hx-target="#todo-item-{{ todo.pk }}"
                                        hx-get="{{ todo.pk }}/delete"
                                        hx-confirm="Are you sure?"
                                        hx-swap="outerHTML"
                                >
                                    <button hx-trigger="click" type="submit">
                                        &#x274C;
                                    </button>
                                </form>
                            </td>
                            <td><label for="{{ todo.pk }}">{{ todo.description }}</label></td>
                            <td>{{ todo.added }}</td>
                        </tr>
