<tr id="investment-item-{{ investment.pk }}">
  <td>
    <form
      hx-target="#investment-item-{{ investment.pk }}"
      hx-get="{{ investment.pk }}/delete"
      hx-confirm="Are you sure?"
      hx-swap="outerHTML"
    >
      <button hx-trigger="click" type="submit">
        &#x274C;
      </button>
    </form>
  </td>
  <td><label for="{{ investment.pk }}"><a href="{{ investment.pk }}">{{ investment.organisation.name }}</a></label></td>
  <td>{{ investment.description }}</td>
  <td>£{{ investment.current_value }}</td>
  <td>{{ investment.date_purchased }}</td>
  <td>{% if investment.document %}<a href="{{ investment.document.url }}">DOWNLOAD</a>{% else %}{% endif %}</td>
</tr>
