<tr id="task-item-add">
  <form
    hx-post="add"
    hx-target="#task-item-add"
    hx-swap="outerHTML"
  >
    <td>
      {% csrf_token %}
      <button hx-trigger="click" type="submit">
        Save
      </button>
    </td>
    <td>
      <input name="task-title" type="text" />
    </td>
    <td>
      <input name="task-due-by" type="date" data-field="datetime">
    </td>
    <td>
      <select name="task-frequency">
        {% for frequency in task_frequencies %}
          <option value="{{ frequency.pk }}">{{ frequency.title }}</option>
        {% endfor %}
      </select>
    </td>
  </form>
</tr>
