{% extends "main.html" %}
{% load static %}
{% block title %}Tasks{% endblock %}
{% block content %}
  <header>
    <h1>Tasks</h1>
  </header>
  <section id="table_list">
    {% if user.is_authenticated %}
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Mark As Done</th>
            <th>Item</th>
            <th>Due By</th>
            <th>Task Frequency</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="3">
              <button hx-get="form"
                hx-trigger="click"
                hx-target="#task-list"
                hx-swap="beforeend"
                type="submit">
                Add
              </button>
            </td>
          </tr>
        </tfoot>
        <tbody id="task-list">
          {% for task in task_list %}
            <tr id="task-item-{{ task.pk }}">
              <td>
                <form
                  hx-target="#task-item-{{ task.pk }}"
                  hx-get="{{ task.pk }}/complete"
                  hx-confirm="Are you sure?"
                  hx-swap="outerHTML"
                >
                  <button hx-trigger="click" type="submit">
                    &#x274C;
                  </button>
                </form>
              </td>
              <td><label for="{{ task.pk }}">{{ task.title }}</label></td>
              <td>{{ task.due_by }}</td>
              <td>{{ task.frequency }}</td>
            </tr>
          {% endfor %}
          {% if task_list|length < 1 %}
            <tr>
              <td colspan="4">No tasks</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    {% else %}
      <p>To view this page please <a href='/accounts/login/'>Login</a></p>
    {% endif %}
  </section>
{% endblock %}
